<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>insert</servlet-name>
<servlet-class>com.techsea.insert</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>insert</servlet-name>
<url-pattern>/insert</url-pattern>
</servlet-mapping>
<servlet>
 <servlet-name>update</servlet-name>
 <servlet-class>com.techsea.update</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>update</servlet-name>
 <url-pattern>/update</url-pattern>
 </servlet-mapping>
   <servlet>
 <servlet-name>delete</servlet-name>
 <servlet-class>com.techsea.delete</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>delete</servlet-name>
 <url-pattern>/delete</url-pattern>
 </servlet-mapping>
   <servlet>
 <servlet-name>search</servlet-name>
 <servlet-class>com.techsea.search</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>search</servlet-name>
 <url-pattern>/search</url-pattern>
 </servlet-mapping>
  <servlet>
 <servlet-name>sample</servlet-name>
 <servlet-class>com.techsea.sample</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>sample</servlet-name>
 <url-pattern>/sample</url-pattern>
 </servlet-mapping>
 
 <error-page>
    <error-code>404</error-code>
    <location>/insert</location>
</error-page>
<error-page>
    <error-code>javax.servlet.ServletException</error-code>
    <location>/insert</location>
</error-page>
</web-app>
 
 